
body{
  background: #2FA4FF;
  font-family: Verdana;
}

header {
  background: #F7FFE5;
  text-align:  center;
}

li{
  display: flex;
}

.box-main{
  background: #F7FFE5;
  width: 450px;
  height: 350px;
}


/*para las clases de valores absolutos*/
.a-1{
  background: rgb(15, 50, 255);
  width: 300px;
  height: 55px;

}

/*colores
 RGB
 hexadecimal
 RGBA -- transparencia
*/
.a-2 {
  background: #F9F9F9;
  margin: 10px;
  width: 1cm;
  height: 2cm;
}
.a-3 {
  background: RGBA(100, 150, 25, 0.5);
  margin: 10px;
  width: 100px;
  height: 50px;
}

.r-1 {
  background: #F7FFE5;
  width: 50%;
  height: 200px;
  margin-top: 10px;
  margin-left: 30%;
}
