@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body{
  font-family: 'Varela Round', sans-serif;
  margin: 0;
}


form{
  background-color: orange;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  padding: 5% 5%;
}
