
body{
    background: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px dotted white;
}

article{
    border: 4px solid blue;
    width: 100%;
    height: 200px;
    padding: 0px 10px;
}

img {
  margin-left: 50px;
}
h1{
    background: darkcyan;
    color: white;
}

/*
main{
    background: darkslategrey;
    width: 95%;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 5px dotted white;
}


section{
    background: chocolate;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    border: 5px dotted white;
<<<<<<< HEAD
}*/
=======
}

article{
    background: white;
    margin: 10px 10px 50px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;    
}


h1{
    background: darkcyan;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    color: white;    
}
>>>>>>> f6472806e60d089495afafbd3fada43095cc6e74
